.h1Index{
    font-family: 'Long Cang', cursive;
}
.parrafoIndex{
    font-size: 24px;
}
.footerIndex{
    background-color: darkgray;
    text-align: center;
}
.h1Pagina1{
    font-weight: bold;
    color: grey;
}
.subtitlePagina1{
    font-weight: bold;
    color: darksalmon;
}
.parrafoPagina1{
    font-style: italic;
    font-family: 'Long Cang', cursive;
    color: dimgray;
}
.h1Pagina2{
    font-weight: bold;
    color: darkslategray;
}
.subtitlePagina2{
    font-weight: bold;
}
.parrafoPagina2{
    font-style: italic;
    font-family: 'Long Cang', cursive;
    color: darkolivegreen;
}
.segundoParrafoPagina2{
    font-style: italic;
    font-family: 'Long Cang', cursive;
    color: dimgray;
}

